<footer class="footer">
  <div class="footer-container">

    <div class="footer-columns">
      
      <div class="footer-column">
        <h3 class="footer-title">Nuestro objetivo</h3>
        <ul class="footer-list">
          <p>Brindar a nuestros clientes televisores y parlantes 
            de alta calidad, ofreciendo tecnología moderna, 
            precios accesibles y una atención confiable, 
            con el objetivo de mejorar la experiencia de entretenimiento en cada hogar.</p>
        </ul>
      </div>

      <div class="footer-column">
        <h3 class="footer-title">📍 Ubicación</h3>
        <ul class="footer-list">
          <p> Nos encontramos en El Gallo, Cochabamba, 
            en la caseta N.º 105, donde podrás visitarnos 
            para conocer nuestra variedad de televisores y parlantes, 
            recibir asesoramiento personalizado y encontrar la mejor opción para tu entretenimiento.</p>
        </ul>
      </div>

      <div class="footer-column contact">
        <h3 class="footer-title">Contacto</h3>
        <p class="contact-info">📍 Cochabamba, Bolivia</p>
        <p class="contact-info">📞 +591 71487179</p>
        <div class="social-icons">
          <a href="https://wa.me/59171487179" target="_blank" title="WhatsApp">📞</a>
          <span>ⓕ</span>
        </div>
      </div>

    </div>

    <div class="footer-bottom">
      © 2026 JVSIGNUM - Todos los derechos reservados
    </div>

  </div>
</footer>
